<%- include('../includes/head.ejs')%>
</head>

<body>
    <%- include('../includes/navigation.ejs')%>
    
    <main>
        <% if(authorBlog.length > 0) { %>
            <h1> Welcome to your blog page <%= authorBlog.firstName %> <%= authorBlog.lastName %> </h1>
            <p> Below are your blogs </p>
            <div class="grid">
                <% authorBlog.forEach(blog => { %>
                    <article class="card blog-item">
                        <header class="card__header">
                            <h1 class="blog__title"><%= blog.title %></h1>
                        </header>
                        <div class="card__content">
                            <h2 class="blog__author">By: <%= blog.author %></h2>
                            <p class="blog__year">Published on: <%= blog.year %></p>
                        </div>
                        <div class="card__actions">
                            <a href="/single-blog/<%= blog.id %>" class="btn"> 
                                See Blog 
                            </a>
                        </div>
                    </article>
                <% }) %>
            </div>
        <% } else { %>
            <h1> Sorry <%= authorBlog.firstName %>. No  Blogs to display yet</h1>
        <% } %>
    </main>

<%- include('../includes/tail.ejs')%>