<%- include('../includes/head.ejs')%>
</head>

<body>
    <%- include('../includes/navigation.ejs')%>
    <main class="centered">
        <h1> <%= blog.title %></h1>
        <hr>
        <h2> Written by: <%= blog.blog %></h2>
        <p> <%= blog.blogContent %></p>       
    </main> 

<%- include('../includes/tail.ejs')%>